<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/ViewForUser/styles/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/ViewForUser/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" href="~/Client/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/ViewForUser/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/ViewForUser/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/ViewForUser/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/ViewForUser/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/ViewForUser/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/ViewForUser/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/ViewForUser/styles/categories_styles.css">
    <link rel="stylesheet" type="text/css" href="~/ViewForUser/styles/categories_responsive.css">
</head>
<body>
<div class="mt-5">
    @RenderBody()
</div>
<script src="~/ViewForUser/js/jquery-3.2.1.min.js"></script>
<script src="~/ViewForUser/styles/bootstrap4/popper.js"></script>
<script src="~/ViewForUser/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/ViewForUser/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/ViewForUser/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/ViewForUser/plugins/easing/easing.js"></script>
<script src="~/ViewForUser/js/custom.js"></script>
<script src="~/ViewForUser/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/ViewForUser/js/categories_custom.js"></script>

</body>
</html>