@using ASM.IServices
@using ASM.Services
@{
    IUserServices _service = new UserServices();
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var id = ViewData["idUsers"] as string;
    var IdUser = Guid.Parse(id);
    var user = _service.GetUserById(IdUser);

}
<link rel="stylesheet" href="~/assets/css/StyleAdminHomePage.css">
<body onLoad="initClock()">
<div class="sp-container mt-5 ml-3">
    <div class="sp-content">
        <div class="sp-globe"></div>
        <h2 class="frame-1">Hello,@user.Name</h2>
        <h2 class="frame-2">Have A Good Day ?</h2>
        <h2 class="frame-3">Select Options</h2>
        <h2 class="frame-4">TEST IT!</h2>
        <h2 class="frame-5">
            <span>I</span>
            <span>LOVE</span>
            <span>YOU,</span>
            <span>@user.Name ❤️</span>
        </h2>
    </div>
    <div id="timedate">
        <a id="mon">January</a>
        <a id="d">1</a>,
        <a id="y">0</a><br/>
        <a id="h">12</a> :
        <a id="m">00</a>:
        <a id="s">00</a>:
        <a id="mi">000</a>
    </div>
</div>
</body>
<script>
    // START CLOCK SCRIPT

    Number.prototype.pad = function (n) {
        for (var r = this.toString(); r.length < n; r = 0 + r);
        return r;
    };

    function updateClock() {
        var now = new Date();
        var milli = now.getMilliseconds(),
            sec = now.getSeconds(),
            min = now.getMinutes(),
            hou = now.getHours(),
            mo = now.getMonth(),
            dy = now.getDate(),
            yr = now.getFullYear();
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var tags = ["mon", "d", "y", "h", "m", "s", "mi"],
            corr = [months[mo], dy, yr, hou.pad(2), min.pad(2), sec.pad(2), milli];
        for (var i = 0; i < tags.length; i++)
            document.getElementById(tags[i]).firstChild.nodeValue = corr[i];
    }

    function initClock() {
        updateClock();
        window.setInterval("updateClock()", 1);
    }

                    // END CLOCK SCRIPT
</script>